# mitsuri

An all purpose discord bot (now private, but open source!)

<p align="left">
  <img src="https://images-ng.pixai.art/images/orig/8b12628b-31fb-4feb-8a2e-612fed914054" height="400">
</p>

## Commands
{{#each commands}}

### `/{{this.name}}`

{{this.description}}

{{#if this.options}}
#### Options

{{#each this.options}}
- {{#if required}}**(required)** {{else}}**(optional)** {{/if}}{{this.name}}: {{this.description}}
{{#if this.choices}}
  - Choices:
  {{#each this.choices}}
    - {{this.name}}
  {{/each}}
{{/if}}
{{/each}}
{{/if}}

---
{{/each}}